<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <meta name="description" content="The Title">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/stylesheets/styles.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="page-container">

    <%- include('partials/header', {user: user}) %>
    <%- include('partials/nav', {user: user}) %>

    <section class="welcomeText">
        <h2>Our Story</h2>
        <h4>RUNNING STRONG SINCE 2003</h4>
        <br><br>
        FLair Events is a worldwide live experience platform that enables everyone to generate, share, discover and
        participate in events that fuel their passions and enrich their life. From music festivals, marathons for a
        cause, networking conferences, community meetings to gaming and hackathon contests.<br>
        Our task, through live experiences, is to bring the world together.<br><br>

        Every year, Flair Events enables ticketing and registration for millions of events. Join hundreds of
        thousands of company owners in today's platform to optimize their development policies.<br><br>

        Our technology has driven millions of occurrences, bringing together numerous individuals all over the globe.
        Live events involve sharing thoughts, fruitful business, and making meaningful associations. That's why we have
        and will always have the power to come up with more events that bring us together.<br><br>

        Our number goal has always been: To transform meetings and events into happiness and satisfaction.<br><br>
        <br><br>



    </section>
    <% include partials/footer.ejs %>
</div>
</body>

</html>