<footer>
    <div class="copyright">
        &copy; 2019 Flair Events
    </div>
    <div class="aboutUs">
        <a href="/about"> ABOUT </a>&nbsp;&nbsp;<a href="/contact"> CONTACT </a>
    </div>
    <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank">
            <img src="/assets/images/fb.png" alt="facebook">
        </a>
        <a href="https://www.twitter.com/" target="_blank">
            <img src="/assets/images/twitter.png" alt="twitter">
        </a>
    </div>
</footer>