 <nav class="sub-nav">
            <div class="page-header">
                <a href="/connections">Connections</a>
            </div>
            <% if(user && user !== ''){ %>
            <div class="user">Welcome <%= user %></div>
            <% } %> 
        </nav>
